* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(39, 37, 37);
    font-family: 'VT323', monospace;
    font-weight: bold;
}

#restart {
    display: flex;
    color: white;
}

#restart .box-1 {
    flex: 6;
    display: flex;
    justify-content: flex-start;
}

#restart .box-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#restart .box-2 .another-box {
    display: flex;
    align-items: center;
}

.container #restart button{
    width: 120px;
    height: 45px;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'VT323', monospace;
}

.container #title h1 {
    color: white; 
    font-size: 4rem;
    margin-top: 20px;
    text-align: center;
}

.container #line {
    width: 100%; 
    text-align: center; 
    border-bottom: 7px solid white; 
    line-height: 0.30em;
    margin: 100px 0 -70px; 
 }

 .container #box-guess {
    margin: auto;
    font-size: 60px;
    text-align: center;
    background-color: white;
    color: rgb(39, 37, 37);
    height: 120px;
    line-height: 120px;
    width: 250px;
 }

 .container-two {
     color: white;
     display: flex;
 }

 .box-1 {
     display: flex;
     flex: 1;
     font-size: 40px;
     text-align: center;
     justify-content: space-around;
    }

.box-1 .box-1-child {
    display: flex;
    justify-content: center;
    border: solid 7px white ;
    width: 200px;
    height: 100px;

}

.box-1 .box-1-child input {
    width: 100%;
    font-size: 80px;
    border: 10px solid rgb(39, 37, 37);
    padding-left: 0.6em;
    background-color: rgb(39, 37, 37);
    color: white;
    font-family: 'VT323', monospace;
}

 .box-2 {
    display: flex;
    flex-direction: column;
    flex: 2;
 }

 .button-class {
    display: flex;
 }

 .button-class #check {
    display: flex;
    flex: 0.33;
    justify-content: space-around;
 }

.button-class button {
    width: 120px;
    height: 45px;
    font-size: 25px;
    font-family: 'VT323', monospace;
    background-color: white;
 }

 
 footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 93%;
    height: 2.5rem;            /* Footer height */
  }


@media only screen and (max-width: 600px) {
    .button-class #check {
        flex: 0.5;
    }

    .box-2 {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 14px;
     }
  }